<!DOCTYPE html>
<html lang="en">
	<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

		<title>RIOT-OS Release Manager Finder</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="icon" type="image/svg+xml" href="/favicon.svg">
	</head>
	<body>
    <div class="container">
      <h1 class="display-1">RIOT Release Manager Finder</h1>
      {% block content %}{% end %}
    </div>
    <div class="text-center">
      <a href="/logout">Logout</a>&nbsp;&nbsp;&nbsp;&nbsp;
      ©&nbsp;2021-23&nbsp;Freie Universität Berlin, 2023-25&nbsp;TU Dresden.
      Distributed under terms of the MIT license.&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="https://github.com/miri64/release_manager_finder">Source Code</a>
    </div>
	</body>
</html>
