{% extends "base.html" %}
{% block content %}
{% if next_release_manager %}
<h1>Congratulation <a href="https://github.com/{{ next_release_manager }}"><tt>@{{ next_release_manager }}</tt></a> 🎉, you are the next relaase manager!</h1>
<p>
Here is how I came to this decision.
</p>

<h2>Selection Pool</h2>
<p>
Maintainers that are attending the VMA and not <a href="{{ opt_out_forum }}">on the opt-out list</a> and did manage the least amount of releases managed.
The next release manager, <tt>@{{ next_release_manager }}</tt>, was randomly picked from this list.
<a href="/">Increase selection.</a>
</p>

<table class="table table-responsive table-striped">
  <thead>
    <tr>
      <th scope="col">Releases</th>
      <th scope="col">Maintainer</th>
      <th scope="col">Is Maintainer</th>
      <th scope="col">Opt-Out</th>
      <th scope="col">Attending VMA</th>
    </tr>
  </thead>
  <tbody>
    {% for releases, maintainer in selection_pool %}
    <tr class="table-success">
      <td width="3em">{{ releases }}</td>
      <td><a href="https://github.com/@{{ maintainer }}"><tt>@{{ maintainer }}</tt></a></td>
      <td width="1em">{% if maintainer in current_maintainers %}✅{% end %}</td>
      <td width="1em">{% if maintainer in opt_out %}✅{% end %}</td>
      <td width="1em">{% if maintainer in attendees %}✅{% end %}</td>
    </tr>
    {% end %}
  </tbody>
</table>
{% else %}
<h2>There is no suitable candidate 😱!</h2>
<p>
<a href="/">Check</a> if you forgot someone that attends the VMA.
</p>
{% end %}

<h2>Total Release Manager Tally</h2>
<p>
Here is the list of all maintainers (<a href="">current</a> and past) who managed a release.
<span class="text-danger">Red</span> rows mark users that are either no maintainers anymore or <a href="{{ opt_out_forum }}">opted out of release management</a>.
<span class="text-success">Green</span> rows mark maintainers who do not fall in those categories and who are attending the VMA.
Only <span class="text-success">green</span> rows are considered for the list above.
</p>

<table class="table table-responsive table-striped">
  <thead>
    <tr>
      <th scope="col">Releases</th>
      <th scope="col">User</th>
      <th scope="col">Is Maintainer</th>
      <th scope="col">Opt-Out</th>
      <th scope="col">Attending VMA</th>
    </tr>
  </thead>
  <tbody>
    {% for releases, maintainer in rm_tally %}
    <tr {% if maintainer not in current_maintainers or maintainer in opt_out %}class="table-danger"{% elif maintainer in attendees %}class="table-success"{% end %}>
      <td width="3em">{{ releases }}</td>
      <td><a href="https://github.com/@{{ maintainer }}"><tt>@{{ maintainer }}</tt></a></td>
      <td width="1em">{% if maintainer in current_maintainers %}✅{% end %}</td>
      <td width="1em">{% if maintainer in opt_out %}✅{% end %}</td>
      <td width="1em">{% if maintainer in attendees %}✅{% end %}</td>
    </tr>
    {% end %}
  </tbody>
</table>

{% end %}
